.checkbox-container {
	position: relative;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: space-around;
	flex-wrap: wrap;
	height: 56px;
}

.hidden-checkbox {
	display: none;
}

.custom-checkbox {
	width: 12px;
	height: 12px;
	margin-right: 4px;
	outline: 0.5px solid gray;
	border: 0.5px solid #fff;
	border-radius: 50%;
	display: inline-flex;
	justify-content: center;
	align-items: center;
}

.checked {
	background-color: #78abf2;
	padding: 1px;
}

.checkmark {
	color: #fff;
}
